html
    head 
        style(type='text/css') table, th, td {border:1px solid black;} table {width:100%;} 
    body
        h1 Here are all the reservations
        div
            table 
                thead 
                    tr
                        th Name
                        th Phone
                        th Date
                        th Time
                        th Guests
                tbody
                    each entry, i in returnedEntries
                        tr
                            td #{entry.name}
                            td #{entry.phone}
                            td #{entry.date}
                            td #{entry.time} 
                            td #{entry.guests} 
                        tr
        br
        h2 Delete an Entry
        button(onclick="window.location.href = '/deletePage'") Delete 
        h2 Home Page
        button(onclick="window.location.href = '/'") Home

